[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Insertar
Type=Link
URL=http://sionsoftware.com/phpmyadmin/tbl_change.php?db=emmanuelips&table=aux_perfiles_menus&token=fb36f57891874b540b3d5bb38ac7f857
Icon=text-html
